body{
    
    background-color: rgb(29, 28, 28);
    color: aliceblue;
    text-align: center;
    display: block;
}
header{
    width: auto;
    height: 90px;
    background-color: rgb(80, 17, 17);
    display: block;
    
}
.menu{
    margin: 0;
    top: 20px;
    left: 15px;
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 40px;
}
section{
    width: auto;
    height: 400px;
    display: inline;
}
h1 {
    font-size: 20px;
    left: 10px;
    top: 0;
    display: inline;
    position: relative;
}
.video{
    width: 640px;
    height: 360px;
    right: 0;
    padding-left: 30px;
}
